/analysis_defaulting_risk_of_borrowers/credit_scoring_eng.csv
/analysis_defaulting_risk_of_borrowers/.ipynb_checkpoints
/vehicles_price_analysis/.ipynb_checkpoints
/vehicles_price_analysis/vehicles_us.csv
/telecom_operator_plan_analysis_sda/.ipynb_checkpoints
/telecom_operator_plan_analysis_sda/megaline_calls.csv
/telecom_operator_plan_analysis_sda/megaline_internet.csv
/telecom_operator_plan_analysis_sda/megaline_messages.csv
/telecom_operator_plan_analysis_sda/megaline_plans.csv
/telecom_operator_plan_analysis_sda/megaline_users.csv
.idea/
