vehicles_price_analysis/vehicles_us.csv
analysis_defaulting_risk_of_borrowers/credit_scoring_eng.csv
.idea/
vehicles_price_analysis/.ipynb_checkpoints
analysis_defaulting_risk_of_borrowers/.ipynb_checkpoints